<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout(~{::title}, ~{::body})}">
<head>
    <title>課題一覧 | 課題管理アプリケーション</title>
</head>
<body>
<h1 class="mt-3">課題一覧</h1>
<a href="../index.html" th:href="@{/}" class="btn btn-secondary">トップページ</a>
<a href="./creationForm.html" th:href="@{/issues/creationForm}" class="btn btn-primary">作成</a>

<!-- 検索フォーム -->
<form action="#" th:action="@{/issues}" method="get" class="mt-3">
    <div class="input-group">
        <input type="text" name="keyword" class="form-control" placeholder="検索..." th:value="${keyword}">
        <button type="submit" class="btn btn-secondary">検索</button>
    </div>
</form>

<table class="table mt-3">
    <thead>
    <tr>
        <th>　　</th> <!-- 削除ボタン用のカラムを追加 -->
        <th>ID</th>
        <th>概要</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issueList}">
        <td>
            <!-- 削除ボタン（クリックするとPOST /issues/{issueId}/delete を実行） -->
            <form th:action="@{/issues/{issueId}/delete(issueId=${issue.id})}" th:method="post"
                  onsubmit="return confirm('この課題を削除してもよろしいですか？');">
                <button type="submit" class="btn btn-danger btn-sm">×</button>
            </form>
        </td>
        <th th:text="${issue.id}">(id)</th>
        <td>
            <a href="./detail.html" th:href="@{/issues/{issueId}(issueId=${issue.id})}" th:text="${issue.summary}">
                (summary)
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
